<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--
<app-login [strname]='strname' [userobj]='userobj'></app-login>

<h3>{{today|date:'shortDate'}}</h3>
<h3>{{strname|titlecase}}</h3>
<h3>{{strname|slice :2:5}}</h3>
<h3>{{userobj|json|uppercase}}</h3>
<h3>{{0097.10 | number:'0.2-3'}}</h3>
<h1>Question 4</h1>
user data ->
user name: {{userobj.uid | uppercase}} <br>
password: {{userobj.pwd}}<br>
age: {{age}}<br>
<br>
<br>
<br>
<h1>Question 5</h1>
Insurance Details ->
policyNo: {{insuranceobj.policyNo}} <br>
policyHoldersName:{{insuranceobj.policyHoldersName|lowercase}} <br>
AmountOnMaturity:{{insuranceobj.AmountOnMaturity}} <br>
Nominee Name:{{insuranceobj.NomineeName}} <br>
Monthly EMI to be paid:{{insuranceobj.MonthlyEMI | currency:'INR'}} <br>
duration:{{insuranceobj.DurationInYears}}<br>
<br><br><br>

<h1>Question 6</h1>
<img [src]="imgurl" height=100px width=100px> <br>
<br><br>
<h1>Question 7</h1>
<button (click)="enableButton()">Enable Button</button>
<button (click)="disableButton()">Disable Button</button> <br><br>

<button [disabled]='bDisableButton'>Button</button>

<br>
<br>
<br>

<h1>Question 8</h1>
<input #email placeholder="Please enter your email id">
<button (click)="verifyEmail(email.value)">Verify Email</button>


<br>
<br>
<br>
<br>
<h1>Question 9</h1>
<input #num placeholder="Please enter your phone number" />
<button (click)="verifyPhoneNo(num.value)">Verify Phone Number</button>
<p>{{validinput}}</p>

<h1>Question 10</h1>
<input type="text" [(ngModel)]="strNameTwoWayDataBinding"><br>
<br>
Given Name: {{strNameTwoWayDataBinding}}

<br>
<br>
<br>
<br>

<h1>Question 11</h1>
<h1>Login</h1>
<input #userid placeholder="Please enter your User Id" /><br>
<input #pw placeholder="Please enter your pw " /><br>
<button (click)="login(userid.value,pw.value)">Login</button>

<br>
<br>
<br>
<br>

<h2>Day 2</h2>
<h3>Question 4</h3>
<button class="button1" [ngClass]="['btn btn-success']" (click)="disableButton()">Button</button>
<button [ngClass]="['btn btn-primary']" [disabled]='bDisableButton'>Button</button>
<br>
<br>

<h3>Question 5</h3>
<button [ngClass]="['btn btn-danger','button123']" (click)="ButtonClicked()">Button</button>
<br>
<br>

<h3>Question 6</h3>
<div [ngClass]="(bcustomer == true)? 'customer':'employee'">

    <button type="button" (click)="changeToCustomer()">Change to customer</button>
    <button type="button" (click)="changeToEmployee()">Change to employee</button>
</div>
<br>
<br>

<h3>Question 7,8,9,11</h3>
<div>
<input type="text" placeholder="Enter Color" [(ngModel)]="strColor">
<input type="text" placeholder="Enter Size" [(ngModel)]="strSize">
<input type="text" placeholder="Enter Padding" [(ngModel)]="paddingSize">
<input type="text" placeholder="Enter the weight of font" [(ngModel)]="fontWeight">
<input type="text" placeholder="Enter the background color" [(ngModel)]="backgroundColor">
<p [ngStyle]="{'color':strColor, 'font-size':strSize+'px','padding':paddingSize+'px','font-weight':fontWeight,'background-color':backgroundColor}">Dynamic color change</p>
</div>
<br>
<br>


<h3>Question 10</h3>
<div [ngClass]="(vuser == true)? 'valid':'invalid'">
<form method="get">
<input #userid1 placeholder="Please enter your User Id" /><br>
<input #pw1 placeholder="Please enter your pw " /><br>
<button (click)="login1(userid1.value,pw1.value)">Login</button>
<p>{{validornot}}</p>
</form>
</div>

<h3>Question 12</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Department</th>
        <th scope="col">EmpID</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Location</th>
        
      </tr>
    </thead>
    <ng-container *ngIf="documents.length">
       <tbody *ngFor="let doc of documents; let i = index">
         <tr *ngFor="let employee of doc.employees;">
           <td>{{employee.department}}</td>
           <td>{{employee.empid}}</td>
           <td>{{employee.name}}</td>
           <td>{{employee.desgn}}</td>
           <td>{{employee.loc}}</td>
         </tr>
       </tbody>
     </ng-container>
   </table>

   <div *ngIf="insuranceobj">Hello, {{insuranceobj.policyHoldersName}}! Your Nominee's name is {{insuranceobj.NomineeName}}.</div>


   <h1>Question 16</h1>
   <div [ngStyle]="{'display':dlogin}">
     <h4>Login</h4>
     <input type="text" placeholder="Enter id">
     <input type="text" placeholder="Enter pass">
     <button (click)="register16()">Register</button>
   </div>

   <div [ngStyle]="{'display':dregister}">
    <h4>Register</h4>
    <input type="text" placeholder="Enter id">
    <input type="text" placeholder="Enter pass">
    <button (click)="login16()">Login</button>
  </div>

 
  <div class="container">
    <div class="jumbotron">
      <h1>{{title | uppercase}}</h1>
    </div>

    <h2>Question 1</h2>
    <div class=tempchange>
  Static string value: {{str}};<br>
  Static string uppercase: {{str|uppercase}}<br>
    </div>
    <br>
    <br>

    <h2>Question 2</h2>
    <div class=tempchange>
      <input type="text" class="form-control" [(ngModel)]="iuppercase" placeholder="Enter text"><br>
  Given Data:{{iuppercase|uppercase}}<br>
    </div>
    <br>
    <br>

    <h2>Question 3</h2>
    <div class=tempchange>
      <input type="text" class="form-control" [(ngModel)]="icurrency" placeholder="Enter text"><br>
  Given Data in YEN:{{icurrency|currency:'JPY':'symbol'}}<br>
  Given Data in USD:{{icurrency|currency:'USD':'symbol'}}<br>
  Given Data in UAH:{{icurrency|currency:'UAH':'symbol'}}<br>
  Given Data in RUB:{{icurrency|currency:'RUB':'symbol'}}<br>
  Given Data in INR:{{icurrency|currency:'INR':"symbol"}}<br>
  Given Data in EUR:{{icurrency|currency:'EUR':"symbol"}}<br>

</div>
    <br>
    <br>

    <h2>Question 5</h2>
    <div class=tempchange>
    Short Date: {{today|date:'short'}}<br>
    Medium Date: {{today|date:'medium'}}<br>
    Long Date:{{today|date:'long'}}<br>
    Full Date:{{today|date:'full'}}<br>
    ShortDate:{{today|date:'shortDate'}}<br>
    MediumDate:{{today|date:'mediumDate'}}<br>
    LongDate:{{today|date:'longDate'}}<br>
    FullDate:{{today|date:'fullDate'}}<br>
    MediumTime:{{today|date:'mediumTime'}}<br>
    LongTime:{{today|date:'longTime'}}<br>
    FullTime:{{today|date:'fullTime'}}<br>

    </div>
    <br>
    <br>

    <h2>Question 6</h2>
    <div class=tempchange>
      {{userobj|json|uppercase}}
    </div>
    <br>
    <br>

    <h2>Question 7</h2>
    <div class=tempchange>
      {{studentobj|json}}
      <br>
      <br>
      {{insuranceobj|json}}
    </div>
    <br>
    <br>



    <h2>Question 14</h2>
    <div class=tempchange>
      <input type="text" class="form-control" [(ngModel)]="ifarent" placeholder="Enter text"><br>
      Given Data:{{ifarent}}<br>
      Farhenheit to celcius:{{ifarent | tempConverter : 'tocelcius'}}<br><br>
    
      <input type="text" class="form-control" [(ngModel)]="icelcius" placeholder="Enter text"><br>
      Given Data:{{icelcius}}<br>
      Celcius to Farhenheit:{{icelcius | tempConverter : 'tofaren'}}<br><br>
    </div>
    <br>
    <br>
  
  <h2>Question 15</h2>
  <div class=casechange>
  <input type="text" class="form-control" [(ngModel)]="iupper" placeholder="Enter text"><br>
  Given Data:{{iupper}}<br>
  Lower to upper:{{iupper|lowerupper : 'ToUpper'}}<br><br>

  <input type="text" class="form-control" [(ngModel)]="ilower" placeholder="Enter text"><br>
  Given Data:{{ilower}}<br>
  upper to lower:{{ilower|lowerupper : 'ToLower'}}<br><br>
  
  <input type="text" class="form-control" [(ngModel)]="ifirst" placeholder="Enter text"><br>
  Given Data:{{ifirst}}<br>
  First letter to uppercase:{{ifirst|lowerupper : 'Tofirst'}}<br><br>
  
</div>

<br>
    <br>
<h2>Question 16,17</h2>
<div class="container">
  <h3>User Details</h3>
  <span>Search</span><input type="text"  class="form-control" [(ngModel)]="nameString" placeholder="Search By Name"><br>
  <input type="text" class="form-control" #add > <button (click)=addUser(add) class="btn btn-primary my-1">Add User</button>

  <br/><br/>
<table data_table class="table table-dark table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Department</th>
      <th>Salary</th>
      <th>Joining Date</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users | filter:nameString">
         <td>{{user.firstName}}</td>
         <td>{{user.lastName}}</td>
         <td>{{user.dept}}</td>
         <td>{{user.salary}}</td>
         <td>{{user.doj | date:'dd/MM/yyyy'}}</td>
       </tr>
       <tr>
         <button (click)=reset() class="btn btn-primary my-1">Reset</button>
       </tr>
    </tbody>
 </table>
 </div>



 <app-login (messageToEmit)="getMessage($event)"></app-login>
 <br>
 <br>
 Displaying in parent : {{strMsgFromChild}}
 <br>
 <br><br>
 <br>
  
  <div class="container">
    <div class="jumbotron">
      <h1>{{title | uppercase}}</h1>
    </div>

<button class="btn btn-info btn-lg" (click)="getProductData()">Get Button</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-info btn-lg" (click)="addmyProduct()">Add Product</button><br><br><br>
<table>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <td>
    <input type="text" id="input1" class="form-control" [(ngModel)]="fd1" placeholder="Search By ID" (keyup)=getProductDataByID()></td> 
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
   <td><input type="text" id="input2" class="form-control" [(ngModel)]="Name" placeholder="Search By Name" (keyup)=getProductDataByName()></td>
</table>

<br>
<br>
<br>

<table class="table table-hover m-t-4">
  <thead class="table-dark">
  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Price</td>
    <td></td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let p of arrProdObj">
    <td>{{p.pid}}</td>
    <td>{{p.pname}}</td>
    <td>{{p.cost}}</td>
    <td><button (click)=deletemyProduct(p) class="glyphicon glyphicon-trash"></button></td>
  </tr>
</tbody>
</table>

Btton click to lest log-->
<!-- <button (click)="testLog()" >Log Test</button> -->
<!--<button (click)="getDataFromAnotherComponent()">  Get Data </button> <br>
-->


<h1>JSON Server Data</h1>
<table class="table table-hover m-t-4">
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let header of columns">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of arrUsers">
      <td>{{users.id}}</td>
      <td>{{users.firstName}}</td>
      <td>{{users.lastName}}</td>
      <td>{{users.email}}</td>
      <td>{{users.location}}</td>
    </tr>
  </tbody>
</table>

<br/>
<button (click)="insertRecord()"> Insert Record</button><br/><br/>

<input type="text" [(ngModel)]="recordNum">
<button (click)="deleteRecord()">Delete Record</button>


<app-insurancepolicyholders></app-insurancepolicyholders>